/* CSS for large device screen type (eg. laptop >950px) */

/* I N T R O  -  S E C T I O N */
/* Set style for photo inside the introduction section */
.myphoto {
    width: 150px; /* 130 --> 150 */
    margin: 10px 25px 15px 7px; /* 20,25,10,7 --> 10,25,10,7 */
}

/* P R O J E C T  -  S E C T I O N */
/* Set the style for the different projects */
.work-content {
    width: 33%; /* 50 --> 33 */
}

/* Set the style for the project photo */
.projectphoto {
    width: 92%; /* 90 --> 92 */
    height: 313px; /* 325 --> 313 */
    margin: 8px 5px; /* 10,5 --> 8,5 */
}